@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
    font-family: 'pixel';
    src: url(/font/upheavtt.woff) format('woff'), url(/font/upheavtt.woff2) format('woff2');
}

@font-face {
    font-family: 'pixel2';
    src: url(/font/VCR_OSD_MONO_1.001.woff) format('woff'), url(/font/VCR_OSD_MONO_1.001.woff2) format('woff2');
}

// sass variables
$border-radius: 20px;
$header-font: 'pixel',
sans-serif;
$secondary-font: 'pixel2',
sans-serif;
$transition: .27s all ease-in-out;
$bounce-transition: all 0.6s cubic-bezier(0.87,
0,
0.13,
1);
$smooth-transition: all 0.6s cubic-bezier(0.87,
0,
0.13,
1);
$cursor-pointer: url(/img/cursor-click.png),
pointer;
:root {
    --primary-dark: #f3f3c2;
    --sec-white: #000;
    --main-color: #FF5349;
    --theme-text: "DARK";
    --text-color: #fff;
}

.dark-mode {
    --primary-dark: #021d39;
    --sec-white: #fff;
    --main-color: #FF5349;
    --theme-text: "LIGHT";
    --text-color: #000;
}

// global styles
li {
    list-style: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    cursor: url(/img/cursor.png), default;
}

// relative font size 
@media screen and (max-width:768px) {
    html {
        font-size: 14px;
    }
}

body {
    position: relative;
    z-index: -10;
    transition: 1s all;
    background-color: var(--primary-dark);
    overflow: initial;
}

body.loading {
    overflow: hidden;
}

body.active {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--sec-white);
    &:hover {
        cursor: $cursor-pointer;
    }
}

button {
    &:hover {
        cursor: $cursor-pointer;
    }
}

* {
    padding: 0;
    margin: 0;
    color: var(--sec-white);
    font-family: $secondary-font;
    box-sizing: border-box;
}

.section-header {
    font-size: 1.1rem;
    width: fit-content;
    background-color: var(--main-color);
    padding: .4rem .8rem;
    text-align: center;
    margin: 2rem auto;
    font-family: $header-font;
}

// loading screen
.loading-screen {
    background-color: var(--primary-dark);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
    img {
        width: 120px;
        object-fit: cover;
    }
    p {
        margin: 0;
        margin-top: 1.3rem;
        padding: 0;
        font-size: .8rem;
        font-family: 'Press Start 2P', cursive;
        span {
            font-family: 'Press Start 2P', cursive;
            display: inline-block;
            position: relative;
            font-size: 1.3rem;
            animation: loading .8s linear infinite;
        }
        span:nth-child(1) {
            animation-delay: 0s;
        }
        span:nth-child(2) {
            animation-delay: 0.2s;
        }
        span:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}

// @media screen and (max-width:768px) {
//     .loading-screen{
//         img{
//         }
//     }
// }
.loading-screen.transition {
    transition: $smooth-transition;
    transform: scale(0);
}

@keyframes loading {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
    15% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    30% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(0px);
    }
    45% {
        transform: translateY(0px);
    }
}

// nav styles
#nav {
    position: fixed;
    width: 100%;
    .overlay {
        position: fixed;
        background-color: #0000009F;
        width: 100vw;
        height: 100%;
        z-index: -1;
        display: none;
    }
    .overlay.active {
        display: block;
    }
    #nav-container {
        width: inherit;
        padding: 1.5rem 20%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--primary-dark);
        .easter-egg {
            display: none !important;
            img {
                height: 40px;
                width: fit-content;
                object-fit: cover;
            }
        }
        #logo {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 50px;
                    object-fit: cover;
                    // -webkit-filter: drop-shadow(1px 1px 0 var(--sec-white)) drop-shadow(-1px -1px 0 var(--sec-white));
                    // filter: drop-shadow(1px 1px 0 var(--sec-white)) drop-shadow(-1px -1px 0 var(--sec-white));
                }
                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin: 0 12px;
                    font-family: $header-font;
                    color: var(--sec-white);
                }
            }
        }
        #nav-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                &:last-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
            }
            .nav-btn {
                color: var(--sec-white);
                border-radius: 0;
                border: none;
                transition: 0s all;
                font-size: .8rem;
                &:hover {
                    background: var(--main-color);
                    cursor: $cursor-pointer;
                }
            }
            .audio-img {
                width: 0px;
                object-fit: cover;
                transition: $smooth-transition;
            }
            .audio-img.active {
                transition: $smooth-transition;
                width: 50px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #nav {
        #nav-container {
            #logo {
                a {
                    img {
                        width: 40px;
                    }
                }
                .logo-name {
                    font-size: 1.2rem;
                    margin: 0 10px;
                }
            }
            #nav-menu {
                li {
                    &:last-child {
                        flex-direction: column;
                    }
                }
            }
            .easter-egg {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.dark-mode_btn {
    position: relative;
    // overflow: hidden;
    transition: $bounce-transition;
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: var(--main-color);
        left: 50%;
        top: 2.8rem;
        transform: translateX(-50%) rotate(45deg);
        display: none;
    }
    &::after {
        content: var(--theme-text);
        font-size: 14px;
        width: fit-content;
        height: fit-content;
        background-color: var(--main-color);
        position: absolute;
        padding: .2rem .4rem;
        top: 3.1rem;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    &:hover {
        &::before {
            display: block;
        }
        &::after {
            display: block;
        }
    }
}

@media screen and (max-width: 768px) {
    .dark-mode_btn {
        &::before {
            width: 5px;
            height: 5px;
            top: 50%;
            transform: translate(12px, -50%) rotate(45deg);
        }
        &::after {
            font-size: .6rem;
            top: 50%;
            transform: translate(1rem, -50%);
        }
    }
}

// global styles for collapse sections 
.collapse-links {
    position: absolute;
    width: 100%;
    background-color: var(--primary-dark);
    left: 0;
    .all-section__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20%;
        li {
            padding: 5.25px 0;
            a {
                font-size: .8rem;
                &:hover {
                    color: var(--main-color);
                }
            }
        }
        .collapse-sections {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            width: 100%;
            padding: 1rem 0;
        }
    }
}

// overriding bootstrap collapse transitions 
.collapsing {
    transition: $bounce-transition !important;
}

.collapse-horizontal {
    transition: $bounce-transition !important;
}

.fa-question {
    font-size: 50px;
    margin-bottom: 10px;
}

.section-title {
    width: fit-content;
    padding: 5px 10px;
    font-family: $header-font;
    color: var(--sec-white);
    background-color: var(--main-color);
}

.one-line {
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: var(--sec-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    p {
        text-align: justify;
        font-size: .8rem;
    }
    .right-size__img {
        width: 200px;
        object-fit: cover;
        -webkit-filter: drop-shadow(.1px .1px 0 var(--sec-white)) drop-shadow(-.1px -.1px 0 var(--sec-white));
        filter: drop-shadow(.1px .1px 0 var(--sec-white)) drop-shadow(-.1px -.1px 0 var(--sec-white));
    }
}

// hamburger menu
.hamburger-menu {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 30px;
    height: 30px;
    border: var(--sec-white) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    z-index: 1;
    cursor: $cursor-pointer;
    .line,
    .line2 {
        transition: $transition;
        // top: 50%;
        // transform: translateY(-50%);
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: var(--sec-white);
    }
    .line {
        top: 7px;
    }
    .line2 {
        top: 17px;
    }
}

// hamburger menu media
@media screen and (max-width: 768px) {
    #nav-menu {
        background-color: var(--primary-dark);
        top: 0;
        right: 0;
        position: fixed;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        transform: translateX(100%);
        transition: $bounce-transition;
        border-left: var(--sec-white) 1px solid;
        z-index: -1;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: var(--primary-dark);
            top: 0;
            left: 100%;
        }
        .nav-btn {
            z-index: 100;
            width: 100%;
            text-align: center;
            &:hover {
                background: none !important;
            }
        }
        li {
            width: 100%;
        }
    }
    .one-line {
        display: none;
    }
    .collapse-links.active {
        border-top: var(--sec-white) 1px solid;
    }
    .hamburger-menu {
        display: flex;
        transition: $bounce-transition;
        z-index: 10000;
    }
    .hamburger-menu.active {
        background-color: #FF160C;
        transition: $bounce-transition;
        .line,
        .line2 {
            top: 12px;
        }
        .line {
            transform: rotate(45deg);
        }
        .line2 {
            transform: rotate(-45deg);
        }
    }
    #nav-container.active {
        border-bottom: var(--sec-white) 2px solid;
    }
    #nav-menu.active {
        transform: translateX(0);
    }
}

// collapse media
@media screen and (max-width: 768px) {
    .collapse-links {
        top: 0;
        z-index: -1;
        width: 50vw;
        border-right: var(--sec-white) 1px solid;
        .all-section__container {
            justify-content: center;
            flex-direction: column-reverse;
            height: 100vh;
            width: 50vw;
            position: relative;
        }
    }
    .right-side {
        position: relative;
        .right-size__img {
            position: absolute;
            width: 120px;
        }
        p {
            display: none;
        }
        // &:nth-child(2) {
        //     top: 150px;
        // }
    }
    #links {
        .right-size__img {
            top: -60px;
        }
    }
    #links2 {
        .right-size__img {
            top: -85px;
        }
    }
    #links3 {
        .right-size__img {
            top: -65px;
        }
    }
    .section-title {
        padding: 2.5px 5px;
        width: 100%;
        text-align: center;
    }
    .collapse-sections {
        li {
            width: 100%;
            a {
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
    }
}

// carousel
.carousel {
    padding-top: 3.15rem;
    z-index: -2;
    img {
        height: 50vh;
        object-fit: cover;
        position: relative;
        z-index: -10;
    }
    // button,
    // button.active {
    //     z-index: 1;
    // }
    h5 {
        margin: 0 auto;
        width: fit-content;
        font-family: $header-font;
        font-size: 1.5rem;
        padding: 10px 20px;
        background-color: var(--primary-dark);
        margin-bottom: 1rem;
    }
}

.carousel-wrapper {
    padding: 0 20%;
    position: relative;
    z-index: -5;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    // filter: invert(100%);
    &:hover {
        cursor: $cursor-pointer;
    }
}

.carousel-indicators {
    button {
        &:hover {
            cursor: $cursor-pointer;
        }
    }
}

.carousel-control-next.active,
.carousel-control-prev.active,
.carousel-indicators.active {
    filter: invert(0%);
}

.padding {
    padding-left: 20%;
    padding-right: 20%;
}

@media screen and (max-width:1550px) {
    .padding {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
    .carousel-wrapper {
        padding: 0;
    }
    #nav {
        #nav-container {
            padding: 0 1rem;
        }
        .all-section__container {
            padding: 0 1rem;
        }
    }
}

// @media screen and (max-width:1200px) {
//     #nav {
//         #nav-container {
//             padding: 0 1rem;
//         }
//         .all-section__container {
//             padding: 0 1rem;
//         }
//     }
// }
@media screen and (max-width: 768px) {
    .carousel {
        padding-top: 3.6rem;
        h5 {
            font-size: 1rem;
        }
    }
}

// product section
.products-wrapper {
    position: relative;
    z-index: -2;
    .products-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        height: fit-content;
        position: relative;
        .selection {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;
        }
    }
}

.select-btn {
    width: fit-content;
    position: relative;
    &::before {
        content: "";
        width: 0;
        height: 0;
        bottom: 0;
        position: absolute;
        background-color: var(--main-color);
        transition: $bounce-transition;
    }
    &:hover {
        cursor: $cursor-pointer;
        color: var(--main-color);
    }
}

.each-section {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $bounce-transition;
    .each-container {
        width: fit-content;
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.product-container-padding {
    width: 100%;
}

.each-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    // border-radius: $border-radius;
    background-color: var(--sec-white);
    position: relative;
    flex-direction: column;
    color: var(--primary-dark);
    text-align: center;
    overflow: hidden;
    img {
        top: 20px;
        position: absolute;
        height: 160px;
        width: auto;
        object-fit: cover;
        transition: .4s all cubic-bezier(0.87, 0, 0.13, 1);
    }
    .product-name {
        font-size: 1.1rem;
        font-family: $header-font;
        color: var(--text-color);
        padding-top: 11rem;
    }
    .price-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .price-info {
        color: var(--text-color);
        position: relative;
        top: 0%;
        transition: $transition;
    }
    .learn-more {
        color: var(--sec-white);
        position: absolute;
        top: 100%;
        transition: .4s all cubic-bezier(0.87, 0, 0.13, 1);
        background-color: var(--main-color);
        padding: .4rem .8rem;
        &:hover {
            transition: $bounce-transition;
            transform: scale(1.1);
        }
    }
}

.each-product.active {
    img {
        transform: scale(1.05);
        transition: $bounce-transition;
    }
    .price-info {
        top: -50%;
    }
    .learn-more {
        top: 0;
    }
}

@media screen and (max-width: 1600px) {
    .each-product {
        width: 280px;
        height: 280px;
        img {
            height: 150px;
            top: 10%
        }
    }
}

@media screen and (max-width: 1000px) {
    .each-section {
        .each-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 670px) {
    .each-product {
        width: 270px;
        height: 270px;
        padding: 0 1rem;
        img {
            height: 150px;
            top: 30px;
        }
    }
}

@media screen and (max-width: 600px) {
    .each-section {
        .each-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
    .each-product {
        width: 200px;
        height: 250px;
        img {
            height: 130px;
        }
    }
}

@media screen and (max-width: 460px) {
    .each-product {
        width: 140px;
        height: 200px;
        img {
            top: 15px;
            height: 100px;
        }
        .product-name {
            padding-top: 8rem;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .each-product {
        .price-info {
            top: -50%;
        }
        .learn-more {
            top: 0;
        }
    }
}

.forYou-section {
    transform: translateX(0);
}

.featured-section {
    position: absolute;
    // transform: translateY(28px);
    margin-top: 3.5rem;
    transform: translateX(100%);
}

.forYou-section.hide {
    transform: translateX(-100%);
}

.forYou-section.show,
.featured-section.show {
    transform: translateX(0);
}

.featured-section.hide {
    transform: translateX(100%);
}

.forYou-btn.active {
    &::before {
        height: 3px;
        width: 100%;
    }
}

.featured-btn.active {
    &::before {
        height: 3px;
        width: 100%;
    }
}

// about us section
.about-wrapper {
    position: relative;
    z-index: -1;
}

.about-container {
    width: 100%;
    height: fit-content;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    border: var(--sec-white) 2px solid;
    text-align: justify;
    .section-header {
        font-size: 1.2rem;
        background-color: var(--primary-dark);
        color: var(--sec-white);
    }
    p {
        color: #fff;
    }
    .about-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        margin-right: 1rem;
        p {
            span {
                font-weight: bold;
                color: var(--text-color);
                background-color: var(--sec-white);
                padding: .2rem .4rem;
            }
        }
    }
    .about-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;
        height: fit-content;
        position: relative;
        margin-left: 1rem;
        flex-direction: column;
        .fight-battle {
            border-bottom: 2px var(--sec-white) solid;
            margin-bottom: 1rem;
            img {
                width: 150px;
                object-fit: cover;
                margin: 0;
                padding: 0;
                &:nth-child(2) {
                    transform: scaleX(-1);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: justify;
        .about-left {
            margin: 0;
            border-bottom: 2px solid var(--sec-white);
        }
        .about-right {
            margin: 0;
            .fight-battle {
                img {
                    width: 120px;
                    object-fit: cover;
                    margin: 0;
                    padding: 0;
                    &:nth-child(2) {
                        transform: scaleX(-1);
                    }
                }
            }
        }
    }
}

// footer
.footer {
    position: relative;
    z-index: -1;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h5 {
        font-family: $header-font;
    }
    .qoutes-container {
        width: 100%;
        border-top: 2px solid var(--sec-white);
        border-bottom: 2px solid var(--sec-white);
        text-align: center;
        padding: 1rem 0;
        h5 {
            font-family: $header-font;
            margin: 0;
        }
        span {
            font-family: $header-font;
            color: var(--main-color);
        }
    }
}

.footer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .support {
        padding: .4rem .8rem;
        flex: 50%;
        border-right: 2px var(--sec-white) solid;
    }
    .about-us {
        padding: .4rem .8rem;
        flex: 50%;
    }
    .section-header {
        text-align: left;
        margin: 0;
        margin-bottom: 1rem;
    }
    ul {
        padding: 0;
        a {
            &:hover {
                color: var(--main-color);
                text-decoration: underline;
            }
        }
    }
    border-bottom: 2px solid var(--sec-white);
}

.footer-container {
    display: flex;
    flex-direction: column;
    a {
        font-size: 1rem;
        padding: 5.25px 0;
    }
}

@media screen and (max-width: 500px) {
    .qoutes-container {
        h5 {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 375px) {
    .qoutes-container {
        h5 {
            font-size: 13px;
        }
    }
}

.accordian-icon {
    display: none;
    font-family: $header-font;
}

@media screen and (max-width: 550px) {
    .accordian-icon {
        display: block;
    }
    .footer-info {
        position: relative;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: 14px;
        border: 0;
        .section-header {
            font-size: 1.2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0;
            position: relative;
            cursor: $cursor-pointer;
        }
        a {
            font-size: 1.2rem;
        }
        .footer-container {
            padding: 0;
            width: 100%;
            border: none;
            position: relative;
            overflow: hidden;
            margin: 0;
            .footer-accord {
                padding: 0 10px;
                margin: 0;
                height: 0;
                overflow: hidden;
                transition: $bounce-transition;
                position: relative;
                overflow-y: auto;
                border-bottom: var(--sec-white) 2px solid;
                li {
                    &:first-child {
                        padding-top: 1rem;
                    }
                    &:last-child {
                        padding-bottom: 1rem;
                    }
                }
            }
        }
        .footer-container.active {
            .footer-accord {
                height: 231.5px;
                transition: $bounce-transition;
            }
            .section-header {
                .accordian-icon {
                    transform: rotate(180deg);
                    transition: $bounce-transition;
                }
            }
        }
    }
}

.copyright {
    border-bottom: 2px var(--sec-white) solid;
    width: 100%;
    padding: 1rem .8rem;
    p {
        font-size: 12px;
        text-align: left;
        margin: 0;
        padding: 0;
    }
}

.last-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .8rem;
    ul {
        a {
            i {
                transition: $transition;
                &:hover {
                    color: var(--main-color);
                    transition: $transition;
                }
            }
            &:hover {
                color: var(--main-color);
                text-decoration: underline;
            }
        }
    }
    .privacy {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 1rem;
        a {
            font-size: 12px;
        }
    }
    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 1rem;
        p {
            margin: 0;
            padding: 0;
            font-size: 12px;
        }
        i {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 980px) {
    .copyright {
        p {
            text-align: center;
        }
    }
    .last-footer {
        flex-direction: column-reverse;
        align-items: center;
        gap: 12px;
        .privacy {
            flex-wrap: wrap;
            gap: 10px;
        }
        .socials {
            flex-wrap: wrap;
            gap: 10px;
            i {
                font-size: 1rem;
            }
        }
    }
}